/* Menentukan warna untuk menu yang aktif */
.active-menu {
    color: #ff3333; /* Ganti dengan warna yang diinginkan */
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #a3292f;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 50%;
  }
  