.home-img img {
animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-11px, 0);
    }
    50% {
        transform: translate(-0px, -11px);
    }
    100% {
        transform: translate(-11px, 0);
    }
}


.open-img img {
animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        transform: translate(-15px, 0);
    }
    50% {
        transform: translate(-0px, -15px);
    }
    100% {
        transform: translate(-15px, 0);
    }
}
